
<div class="container mt-5">

    <ngb-carousel *ngIf="products">
        <ng-template *ngFor="let item of products" ngbSlide>
          <div class="picsum-img-wrapper">
            <a routerLink="/product-details/{{item.id}}"> <img class="product-img" [src]="item.p_img" alt="Random first slide"></a>
          </div>
          <div class="carousel-caption">
            <h3>{{item.p_name}}</h3>
            <p>{{item.p_description}}</p>
          </div>
        </ng-template>
      </ngb-carousel>
     
</div>

<div class="containerproduct container mt-5">
   <div class="p-card" *ngFor="let item of allproduct" >
   <div class="product-image">
   <a routerLink="/product-details/{{item.id}}"> <img [src]="item.p_img"></a>
   </div>
   <div class="product-info">
    <h4>{{item.p_name}}</h4>
  <h4>{{item.p_prize | currency :'INR'}}</h4>
  <!-- <h4>{{item.qty}}</h4> -->
   </div>
   <div class="btns">
    <button type="button" (click)="addtocart(item)">Add to cart</button>
   </div>
   </div>

</div>